@{
    ViewData["Title"] = "Home Page";
}
@if (!User.IsInRole("Admin")&&(!User.Identity.IsAuthenticated))
{
<div class="text-center">
    <h2 class="display-4" align="center">Добро пожаловать!</h2>
    <p>
        Если вы уже зарегистрированы, то выполните вход в систему для
        дальнейшей работы, либо пройдите по  <a asp-area="" asp-controller="Account" asp-action="Register">ссылке</a> для прохождения процедуры регистрации.
    </p>
    <form asp-controller="Account" asp-action="Login" align ="center">
        <input id="login" type="text" placeholder="Логин" />
        <input id="password" type="password" placeholder="Пароль"/>
        <input id="enter" type="submit" value="Вход" />
    </form>
</div>
}
@if (User.IsInRole("Admin"))
{
    <div>
        <h2>Добро пожаловать!</h2>
        <p>Вы зашли в систему как Администратор!</p>
    </div>
}
@if (!User.IsInRole("Admin") && (User.Identity.IsAuthenticated))
{
    <div>
        <h2 aligh="center">Добро пожаловать, @User.Identity.Name!</h2>
        <p>Мы рады видеть Вас в аккредитованной лаборатории PromTest. Чтобы подать
        заявку на испытания, а также посмотреть статус поданной заявки,
        воспользуйтесь соответсвующим меню на панели навигации.</p>
    </div>
}