 <!-- Sidebar -->
<section>
    <header>
        <h2>Подробнее о нас</h2>
    </header>
    <ul class="link-list">
        <li><a href="#">Руководство лаборатории</a></li>
        <li><a href="#">Сертификаты</a></li>
        <li><a href="#">Перечень проводимых испытаний</a></li>
        <li><a href="#">Наши работники</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</section>

